<footer>
    <div class="f-info border-top">
        <div class="f-info-socials">
            <a href="https://www.linkedin.com/in/anurath-waghmode-244508211/"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://pranx.com/hacker/"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/__anurath__/"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://x.com/AnurathWaghmod1?t=XGJJ8TpcyZ7aB8GPf_gc9g&s=09"><i class="fa-brands fa-x-twitter"></i></a>
        </div>
        <div class="f-info-company">&copy;Placenst Lust Private Limited</div>
        <div class="f-info-link">
            <a href="/privecy">privacy</a>
            <a href="/terms">terms</a>
        </div>
    </div>
</footer>